/* ---------------------------------------------
				GENERAL
--------------------------------------------- */
@import url(resp-main.css);
@import url(resp-profiles.css);

/* Putting OUTLINES on everything for testing/visibility */
/* * { outline: 1px dashed #f00; } */



/* ---------------------------------------------
				RESPONSIVE: HOME PAGE
--------------------------------------------- */

/* ---------- Breakpoint for 1366x768 resolution screens ---------- */
@media screen and ( max-width: 1366px ) {}

/* ---------- Breakpoint for 1280x1024 resolution screens ---------- */
@media screen and ( max-width: 1280px ) {}

/* ---------- Breakpoint for 1024x768 resolution screens ---------- */
@media screen and ( max-width: 1024px ) {
	#TOPICS p { font-size: 1.5em; }
		#about > p { padding-bottom: 1em; }
		#raffle img { 
			display: initial; 
			left: 0; 
			position: relative; 
			width: 50%; 
		}
	#PROFILES { text-align: center; }
		#heather { 
			height: 350px; 
			width: 350px; 
		}
		.profileName { 
			font-size: 2.3em; 
			right: 24.5%; 
			margin-top: 6.3em; 
		}
	#CONTACT { text-align: center; }
		#CONTACT p:nth-of-type(2) { font-size: 2em; }
}

/* ---------- Breakpoint for 800x600 resolution screens ---------- */
@media screen and ( max-width: 800px ) {}