/* ---------------------------------------------
				GENERAL
--------------------------------------------- */
/* Putting OUTLINES on everything for testing/visibility */
/* * { outline: 1px dashed #f00; } */



/* ---------------------------------------------
				RESPONSIVE: MAIN
--------------------------------------------- */

/* ---------- Breakpoint for 1366x768 resolution screens ---------- */
@media screen and ( max-width: 1366px ) {}

/* ---------- Breakpoint for 1280x1024 resolution screens ---------- */
@media screen and ( max-width: 1280px ) {}

/* ---------- Breakpoint for 1024x768 resolution screens ---------- */
@media screen and ( max-width: 1024px ) { 
	/* GENERAL (general.css) ADJUSTMENTS */
	#container { width: 100%; }
	#logo img { 
		margin-left: -7em; 
		margin-top: 0; 
		width: 250%; 
	}
	#marquee p { font-size: 1.55em; }
	#social-badges { 
		margin-right: 0; 
		z-index: 4; 
	}
	#social-badges > a { 
		float: left; 
		margin-top: -10em; 
		margin-right: 1.25em; 
	}
	.social-badge { 
		width: 3.5em; 
		height: 3.5em; 
	}
	#topNav { 
		font-size: 1.25em; 
		transform: scale(1,2); 
			-webkit-transform: scale(1,1.5); 
			-moz-transform: scale(1,2); 
			-ms-transform: scale(1,2); 
			-o-transform: scale(1,2); 
		letter-spacing: 0.05em; 
	}
	#stickerTop { margin-top: -8.15em; }
	#stickerBtm { margin-top: -12.8em; }
	#content-L { 
		clear: right; 
		width: 100%; 
			max-width: 100%; 
	}
	#content-R { 
		float: left; 
		width: 100%; 
			max-width: 100%; 
	}
	#content h1 { font-size: 2.75em; }
	#Setmore_button_iframe img { display: none; }
	address,
	.phone,
	#INFO p,
	#btmNav { font-size: 1.5em; }
	#legal { 
		font-size: 1em; 
		padding-bottom: 0.5em; 
	}
}

/* ---------- Breakpoint for 800x600 resolution screens ---------- */
@media screen and ( max-width: 800px ) {}