/* ---------------------------------------------
				GENERAL
--------------------------------------------- */
@import url(resp-main.css);
@import url(resp-profiles.css);

/* Putting OUTLINES on everything for testing/visibility */
/* * { outline: 1px dashed #f00; } */



/* ---------------------------------------------
				RESPONSIVE: BOOKING PAGE
--------------------------------------------- */

/* ---------- Breakpoint for 1366x768 resolution screens ---------- */
@media screen and ( max-width: 1366px ) {}

/* ---------- Breakpoint for 1280x1024 resolution screens ---------- */
@media screen and ( max-width: 1280px ) {}

/* ---------- Breakpoint for 1024x768 resolution screens ---------- */
@media screen and ( max-width: 1024px ) {
	#COLUMN div:first-of-type { text-align: center; }
	#COLUMN div iframe { width: 88%; }
	#COLUMN div { font-size: 1.4em; }
}

/* ---------- Breakpoint for 800x600 resolution screens ---------- */
@media screen and ( max-width: 800px ) {}