/* ---------------------------------------------GENERAL CSS--------------------------------------------- */
/* * { border: 1px solid #f00; } */


/* ---------------------------------------------DEFINE {id's & elements} HERE--------------------------------------------- */


#portfolio {
	box-shadow: 20px 0px 3px -20px #595959;
	float: left;
	margin: 5px 0 5px 5px;
	min-height: 1230px;
	max-width: 62%;
	min-width: 62%;
	text-align: center;
}

#spotlight {
	box-shadow: 0px 20px 3px -20px #595959;
	float: right;
	margin: 5px 5px 0 0;
}

#promos {
	box-shadow: 0px 20px 3px -20px #595959;
	clear: right;
	float: right;
	margin: 5px 5px 0 0;
	min-height: 650px;
}

	#portfolio, #spotlight, #promos {
		font-size: 1.2em;
	}

	#portfolio, #spotlight, #promos {
		color: #fff;
		padding: 5px 10px 5px 10px;
	}
	
	#spotlight, #promos {
		max-width: 32.4%;
		min-width: 32.4%;
	}


/* ---------------------------------------------DEFINE {classes} HERE--------------------------------------------- */


.gallery {
	width: 100%;
}

	.gallery div {
		border: 3px solid #595959;
		border-radius: 50%;
		display: inline-block;
		overflow: hidden;
		height: 5em;
			max-height: 5em;
		width: 5em;
			max-width: 5em;
	}

		.gallery div img {
			height: 6em;
			width: 6em;
		}
		
		.gallery div:hover {
			border-color: #ff3399;
		}