/* ---------------------------------------------
GENERAL
--------------------------------------------- */

@import "general.css";
@import "profiles.css";

/* * { outline: 1px dashed #f00; } */

#wrapper {
	float: left;
	width: 100%;
}



/* ---------------------------------------------
PAGE: BOOKING
--------------------------------------------- */

#COLUMN {
	color: #c5c5c5;
	font-size: 1.2em;
	padding: 0 1.2em;
}

	#setmore {
		height: 800px;
		width: 100%;
	}

	.disclaimer { text-transform: uppercase; }

	.justify { text-align: justify; }

	.release {
		list-style-image: url(../img/icons/icon-ps-list.png);
	}

	.announcement {
		font-weight: bold;
		text-align: center;
		text-transform: uppercase;
	}

/* Setmore Sidebar Tab */

#sidebar #Setmore_button_iframe img { display: none; }