/* ---------------------------------------------
				GENERAL
--------------------------------------------- */
@import url(main.css);
@import url(profiles.css);

/* Putting OUTLINES on everyting for testing/visibility */
/* * { outline: 1px dashed #f00; } */

#wrapper {
	float: left;
	width: 100%;
}



/* ---------------------------------------------
				PAGE: BOOKING
--------------------------------------------- */
#COLUMN {
	color: #c5c5c5;
	font-size: 1.2em;
	padding: 0 1.2em;
}
	#setmore {
		height: 800px;
		width: 100%;
	}
	.disclaimer { 
		text-transform: uppercase; 
	}
	.justify { 
		text-align: justify; 
	}
	.release { 
		list-style-image: url(../img/icons/icon-ps-list.png); 
	}
	.announcement { 
		background-color: rgba(255,255,255,0.075); 
		border-radius: 2em; 
		padding: 0.25em 1.5em; 
		font-weight: bold; 
		text-align: center; 
		text-transform: uppercase; 
	}
/* Hiding the Setmore Sidebar Tab */
#sidebar #Setmore_button_iframe img { 
	display: none; 
}