/* ---------------------------------------------
GENERAL
--------------------------------------------- */

@import "general.css";
@import "profiles.css";

/* * { outline: 1px dashed #f00; } */



/* ---------------------------------------------
PAGE: CREW
--------------------------------------------- */

#TOPICS { text-align: center; }

	.teamRow { 
		margin: 0 auto; 
		padding: 2em 0; 
		overflow: auto; 
		width: 90%; 
		font-kerning: none; 
	}

		.teamRow:nth-of-type(n+2) { box-shadow: 0px -20px 3px -20px #595959; }

		.blurb { 
			clear: right; 
			float: right; 
			text-align: right; 
			width: 60%; 
		}

#CONTACT { 
	box-shadow: 0px -20px 3px -20px #595959; 
	min-height: 15em; 
}

#INFO { box-shadow: 0px -20px 3px -20px #595959; }

#TOPICS, #PROFILES, #CONTACT, #INFO { 
	color: #c5c5c5; 
	font-size: 1.2em; 
	padding: 0.1em 0.6em; 
}