/* ---------------------------------------------
				GENERAL
--------------------------------------------- */
@import url(main.css);
@import url(profiles.css);

/* Putting OUTLINES on everyting for testing/visibility */
/* * { outline: 1px dashed #f00; } */



/* ---------------------------------------------
				PAGE: FLASH
--------------------------------------------- */
#TOPICS { 
	padding: 0 1.2em; 
}
#PROFILES .email { 
	font-size: inherit; 
}