/* ---------------------------------------------
				GENERAL
--------------------------------------------- */
@import url(main.css);
@import url(profiles.css);

/* Putting OUTLINES on everyting for testing/visibility */
/* * { outline: 1px dashed #f00; } */



/* ---------------------------------------------
				PAGE: HOME
--------------------------------------------- */
#TOPICS { 
	padding: 0 1.2em; 
}
	.news-entry {}
		.news-img { 
			border: 1px solid #595959; 
			border-radius: 10%; 
			width: 50%; 
			float: left; 
		}
		.news-entry p { 
			width: 48%; 
			float: right; 
		}
	#social-feeds { 
		text-align: center; 
		width: 100%; 
		clear: both; 
		padding-top: 1em; 
	}
#CONTACT p:nth-of-type(2) { 
	clear: left; 
	padding: 1em 0; 
}
#CONTACT img { 
	width: 100%; 
}
#INFO #googleMap { 
	min-height: 300px; 
	max-height: 400px; 
}