/* ---------------------------------------------
				GENERAL
--------------------------------------------- */
/* Putting OUTLINES on everyting for testing/visibility */
/* * { outline: 1px dashed #f00; } */



/* ---------------------------------------------
				ALL PROFILES ACROSS THE SITE
--------------------------------------------- */
.profile-container {
	/* 		outline: 1px dashed red;  */
}
.profile-container:hover #heather { 
	border-color: #e40074; 
}
.profile-container:hover .profileName {
	text-shadow: 
		-1px -1px 0 #e40074, 
		1px -1px 0 #e40074, 
		-1px 1px 0 #e40074, 
		1px 1px 0 #e40074; 
}
#heather,
#britney,
#mark,
#crayone,
#sean { 
	background-position: center; 
	background-repeat: no-repeat; 
	background-size: cover; 
	border: 0.3em solid #777; 
	border-radius: 100%; 
	height: 10em; 
	width: 10em; 
}
#britney,
#mark,
#crayone,
#sean { 
	float: left; 
	margin-bottom: 1em; 
}
#heather { 
	background-image: url(../../pics/shop/ppl/bioPic-heather.jpg); 
	display: inline-block; 
	margin: 0 0 0.75em 0.38em; 
}
#britney { 
	background-image: url(../../pics/shop/ppl/bioPic-britney.jpg); 
}
#mark { 
	background-image: url(../../pics/shop/ppl/bioPic-mark.jpg); 
}
#crayone { 
	background-image: url(../../pics/shop/ppl/bioPic-crayone.jpg); 
}
#sean { 
	background-image: url(../../pics/shop/ppl/bioPic-sean.jpg); 
	background-position: top; 
}
.bioPic { 
	text-align: center; 
}
.bioPic > img { 
	border-radius: 10px; 
	width: 80%; 
	box-shadow: 4px 4px 15px 0px rgba(89, 89, 89, 0.6); 
	-webkit-box-shadow: 4px 4px 15px 0px rgba(89, 89, 89, 0.6); 
	-moz-box-shadow: 4px 4px 15px 0px rgba(89, 89, 89, 0.6); 
	-ms-box-shadow: 4px 4px 15px 0px rgba(89, 89, 89, 0.6); 
	-o-box-shadow: 4px 4px 15px 0px rgba(89, 89, 89, 0.6); 
}
.profileName { 
	color: #c5c5c5; 
	float: right; 
	font-family: "profileName", serif; 
	font-size: 1.4em; 
	margin-top: 5.25em; 
	position: relative; 
	right: 17%; 
	text-align: left; 
	text-transform: uppercase; 
}
.profileName2 { 
	position: relative; 
	left: -6.5%; 
	color: #c5c5c5; 
	float: left; 
	font-family: "profileName", serif; 
	font-size: 1.2em; 
	text-transform: uppercase; 
}
.title { 
	color: #c5c5c5; 
	font-family: "script", serif; 
	font-size: 1.25em; 
}