/* ---------------------------------------------GENERAL CSS--------------------------------------------- */
/* * { border: 1px solid #f00; } */


/* ---------------------------------------------DEFINE {id's & elements} HERE--------------------------------------------- */


body {
	background-color: #595959;

	/* Background #5: Vintage2 */
		background-attachment: fixed;
		background-image: url("http://www.gflujan.com/paintedsiren/media-pix/backgrounds/bg-blackVintage.jpg");
		background-size: contain;

	font-family: Garamond, serif;
	word-break: break-word;
}

#container {
	background-color: #1a1a1a;
 	border-radius: 10px;
 	box-shadow: 20px 0 25px -8px #1a1a1a, -20px 0 25px -8px #1a1a1a;
	margin-top: -7px;
	margin-bottom: -10px;
	width: 64%;
	/* position: relative;
	z-index: 2; */
}

#logo {
	background-color: #f9f1dc;
	border: 0.2em solid #595959;
	border-radius: 50%;
	clear: none;
	height: 12em;
	margin-left: -2em;
	position: absolute;
	width: 10em;
	z-index: 3;
}

	#logo img {
		margin-left: 1.2em;
		margin-top: 0.6em;
		width: 85%;
	}

	#logo:hover {
		border-color: #ff3399;
	}

#marquee {
	background-color: #ff3399;
	border-top-left-radius: 0.7em;
	border-top-right-radius: 0.7em;
	height: 5.1em;
	position: relative;
	z-index: 1;
}

	#marquee p {
		color: #000;
		font-family: "marquee", serif;
		font-size: 5.2em;
		margin: 0 0 0 0;
		padding-left: 1.75em;
		padding-top: 0.1em;
		text-align: left;
	}

#banner {
	position: relative;
	z-index: 2;
}

	#banner img {
		height: 100%;
		width: 100%;
	}

#topNavBox {
	margin-top: -2.75em;
	position: relative;
	z-index: 4;
}

	#ribbon-top {
		background-image: url("http://www.gflujan.com/paintedsiren/media-pix/backgrounds/ribbon02-pink-top.png");
		background-position: center;
		background-size: 100% 100%;
		height: 100px;
		margin-bottom: -0.85em;
		transform: rotate(2deg);
			-webkit-transform: rotate(2deg);
			-moz-transform: rotate(2deg);
			-ms-transform: rotate(2deg);
			-o-transform: rotate(2deg);
	}

	/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */

	/* ---------------------------------------------Navigation w/ Dropdown Menus--------------------------------------------- */
	#topNav {
		color: #fff;
		float: left; /* Clear floats */
		font-family: "script", serif;
		font-size: 1.15em;
		font-weight: bold;
		list-style: none;
		margin-bottom: -1.8em;
		margin-left: 4.5em;
		margin-top: -1.2em;
		width: 100%;
		/* Bring the nav above everything else--uncomment if needed. */
		position: relative;
		z-index: 5; 
	}

	#topNav li {
		float: left;
		margin-right: 10px;
		position: relative;
	}

	#topNav a {
		color: #fff;
		display: block;
		padding: 5px;
		text-decoration: none;
	}

	#topNav li a:hover {
		color: #fff;
		background: #6b0c36;
		border-radius: 5px;
		text-decoration: underline;
	}

	/* --- DROPDOWN --- */

	#topNav ul {
		background: #6b0c36; /* Adding a background makes the dropdown work properly in IE7+. Make this as close to your page's background as possible (i.e. white page == white background). */
		background: rgba(255,255,255,0); /* But! Let's make the background fully transparent where we can, we don't actually want to see it if we can help it... */
		list-style: none;
		position: absolute;
		left: -9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
	}

	#topNav ul li {
		padding-top: 1px; /* Introducing a padding between the li and the a give the illusion spaced items */
		float: none;
	}

	#topNav ul a {
		white-space: nowrap; /* Stop text wrapping and creating multi-line dropdown items */
	}

	#topNav li:hover ul { /* Display the dropdown on hover */
		left: -2.2em; /* Bring back on-screen when needed */
	}

	#topNav li:hover a { /* These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */
		background: #ff3399;
		border-radius: 5px;
		text-decoration: underline;
	}

	#topNav li:hover ul a { /* The persistent hover state does however create a global style for links even before they're hovered. Here we undo these effects. */
		background: #333;
		border-radius: 5px;
		text-decoration: none;
	}

	#topNav li:hover ul li a:hover { /* Here we define the most explicit hover states--what happens when you hover each individual link. */
		background: #ff3399;
		border-radius: 5px;
		font-style: italic;
	}

	/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */

	/* ---------------------------------------------topNav Individual Links--------------------------------------------- */

	#topNav_buyStuff {}
	
	#topNav_portfolio {}
	
	#topNav_origFlash {}
	
		#topNav_sketches {}
		
		#topNav_otherArt {}
	
	#shopCircle {
		background-image: url("http://www.gflujan.com/paintedsiren/media-pix/shop/shop-outside.jpg");
		background-position: 16px 0px;
		background-size: 120% 120%;
		border: 3px solid #595959;
		border-radius: 50%;
		height: 120px;
		margin-top: -2.9em;
		width: 120px;
	}

	#topNav_care {}
	
		#topNav_inksAllergies {}
	
	#topNav_booking {}
	
		#topNav_calendars {}
		
		#topNav_events {}
	
	#topNav_social {}

	#ribbon-btm {
		background-image: url("http://www.gflujan.com/paintedsiren/media-pix/backgrounds/ribbon02-pink-btm.png");
		background-position: center;
		background-size: 100% 100%;
		height: 100px;
		margin-top: -2.5em;
		transform: rotate(2deg);
			-webkit-transform: rotate(2deg);
			-moz-transform: rotate(2deg);
			-ms-transform: rotate(2deg);
			-o-transform: rotate(2deg);
	}

#content {
	background-color: #fdf8e8;
	clear: both;
}

	#content h1 {
		color: #c5c5c5;
		font-family: "script", sans serif;
		font-size: 1.7em;
		text-align: center;
		text-decoration: underline;
		width: 100%;
	}

#btmNav {
	background-color: #1d1d1a;
	clear: both;
	color: #9a9994;
	font-family: "script", serif;
	font-size: 0.85em;
	padding: 0.75em;
	text-align: center;
}

	#btmNav ul li {
		display: inline;
		list-style: none;
		padding: 0.5em;
	}

	/* ---------------------------------------------btmNav Individual Links--------------------------------------------- */

	#btmNav_home {
		font-style: italic;
	}
	
	#btmNav_about {
		font-style: italic;
	}
	
	#btmNav_portfolio {
		font-style: italic;
	}
	
	#btmNav_commission {
		font-style: italic;
	}

	#btmNav_shop {
		font-style: italic;
	}
	
	#btmNav_calendars {
		font-style: italic;
	}
	
	#btmNav_contact {
		font-style: italic;
	}
	
	#btmNav_care {
		font-style: italic;
	}

#legal {
	background-color: #595959;
	min-height: 50px;
	padding: 6px 9px 0 0;
	text-align: right;
}

#socialBadges {
	float: right;
	margin-bottom: -8em;
	margin-right: -2.5em;
	position: relative;
}

	#socialBadge-face {
		background-image: url("http://www.gflujan.com/paintedsiren/media-pix/socialBadges/PNGs/socialBadge-face.png");
	}

	#socialBadge-goog {
		background-image: url("http://www.gflujan.com/paintedsiren/media-pix/socialBadges/PNGs/socialBadge-goog.png");
	}

	#socialBadge-inst {
		background-image: url("http://www.gflujan.com/paintedsiren/media-pix/socialBadges/PNGs/socialBadge-inst.png");
	}

	#socialBadge-lnkd {
		background-image: url("http://www.gflujan.com/paintedsiren/media-pix/socialBadges/PNGs/socialBadge-lnkd.png");
	}

	#socialBadge-pint {
		background-image: url("http://www.gflujan.com/paintedsiren/media-pix/socialBadges/PNGs/socialBadge-pint.png");
	}

	#socialBadge-twit {
		background-image: url("http://www.gflujan.com/paintedsiren/media-pix/socialBadges/PNGs/socialBadge-twit.png");
	}


/* ---------------------------------------------DEFINE {classes} HERE--------------------------------------------- */


.center {
	margin-left: auto;
	margin-right: auto;
}

.clrLink {
	text-decoration: none;
}

.date {}

.time {}

.socialBadge {
	background-position: center;
	background-size: 100% 100%;
	border: 2px solid #595959;
	border-radius: 0.5em;
	height: 32px;
	margin-bottom: 0.1em;
	padding-bottom: 3px;
	width: 32px;
}

	.socialBadge:hover {
		border-color: #fff;
	}

.stroke-blk {
	color: #ff3399;
	text-shadow:
	-1px -1px 0 #000,
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000;
}

.stroke-wht {
	color: #000;
	text-shadow:
	-1px -1px 0 #fff,
	1px -1px 0 #fff,
	-1px 1px 0 #fff,
	1px 1px 0 #fff;
}